.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  i {
    margin-left: 5px;
    cursor: pointer;
  }
  
  #datepicker {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  